# editorconfig
# dark-coffee

## root file
root = true

## all files
[*]
charset = utf-8
end_of_line = crlf
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

# html files
[*.html]
insert_final_newline = false

## powershell files
[*.{ps1,ps1m}]
trim_trailing_whitespace = false

## markdown files
[*.md]
indent_style = space
indent_size = 0
trim_trailing_whitespace = false

## yaml compose files
[*compose.yml]
indent_style = space
indent_size = 2

## zshrc file
[*.zshrc]
end_of_line = lf
insert_final_newline = false
